*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#fff7ec;
  color:#333;
}
header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 30px;
  background:white;
  box-shadow:0 4px 20px rgba(0,0,0,.15);
  position:sticky;
  top:0;
  z-index:10;
}

.logo{
  font-size:22px;
  font-weight:bold;
  color:#ff9800;
}

.menu-toggle{
  font-size:28px;
  cursor:pointer;
  display:none;
}

nav a{
  margin:8px;
  text-decoration:none;
  color:#333;
  padding:8px 16px;
  border-radius:20px;
  cursor:pointer;
  transition:.3s;
}

nav a:hover{
  background:#ffd180;
}

@media(max-width:768px){
  .menu-toggle{display:block}
  nav{
    display:none;
    flex-direction:column;
    position:absolute;
    top:65px;
    right:20px;
    background:white;
    padding:15px;
    border-radius:18px;
    box-shadow:0 10px 25px rgba(0,0,0,.25);
  }
  nav.show{display:flex}
}

section{
  display:none;
  padding:70px 20px;
}

section.activo{
  display:block;
}

.texto{
  max-width:800px;
  margin:15px auto;
  font-size:17px;
  line-height:1.6;
  text-align:center;
}

#inicio{display:none;}

#inicio.activo{
  display:flex;
  height:100vh;
  background:url("frutas.jpg") center/cover no-repeat;
  align-items:center;
  justify-content:center;
  text-align:center;
  color:white;
}

.hero-content{
  background:rgba(0,0,0,.35);
  padding:40px;
  border-radius:25px;
  animation:fade .8s ease;
}

.hero h1{
  font-family:'Playfair Display', serif;
  font-size:46px;
  letter-spacing:3px;
  text-transform:uppercase;
  margin-bottom:15px;
}

.hero p{
  font-size:18px;
  margin-bottom:20px;
}

.btn-catalogo{
  padding:16px 42px;
  border:none;
  border-radius:40px;
  background:linear-gradient(135deg,#ff9800,#ff5722);
  color:white;
  font-size:18px;
  cursor:pointer;
  box-shadow:0 12px 28px rgba(0,0,0,.4);
  transition:.3s ease;
}

.btn-catalogo:hover{
  transform:scale(1.1);
  box-shadow:0 18px 35px rgba(0,0,0,.45);
}

.titulo-destacadas{
  margin-top:35px;
  font-family:'Playfair Display', serif;
  letter-spacing:3px;
  text-transform:uppercase;
  font-size:28px;
}

.destacadas{
  display:flex;
  justify-content:center;
  gap:30px;
  flex-wrap:wrap;
  margin-top:20px;
}

.fruit-card{
  background:white;
  color:#333;
  padding:18px;
  border-radius:22px;
  width:150px;
  box-shadow:0 10px 25px rgba(0,0,0,.3);
  animation:float 3s infinite;
}

.fruit-card img{
  width:100px;
  height:100px;
  border-radius:50%;
}

.fruit-card span{
  display:block;
  margin-top:10px;
  font-family:'Playfair Display', serif;
  font-size:18px;
  font-weight:700;
}

.ubicacion{
  margin:50px auto;
  max-width:900px;
  background:white;
  padding:30px;
  border-radius:25px;
  box-shadow:0 10px 30px rgba(0,0,0,.25);
  text-align:center;
}

.ubicacion iframe{
  width:100%;
  height:300px;
  border-radius:15px;
  border:0;
  margin-top:15px;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:25px;
}

.card{
  background:white;
  padding:20px;
  border-radius:20px;
  text-align:center;
  box-shadow:0 8px 20px rgba(0,0,0,.1);
  animation:aparecer .6s ease;
  transition:.3s;
}

.card:hover{
  transform:translateY(-8px) scale(1.03);
  box-shadow:0 15px 30px rgba(0,0,0,.25);
}

.card img{
  width:100px;
  height:100px;
  border-radius:50%;
}

.card button{
  margin-top:14px;
  background:linear-gradient(135deg,#ff5722,#ff9800);
  border:none;
  color:white;
  padding:12px 28px;
  border-radius:30px;
  font-size:15px;
  cursor:pointer;
  box-shadow:0 8px 18px rgba(0,0,0,.3);
  transition:.3s;
}

.card button:hover{
  transform:scale(1.1);
}

.card select{
  margin-top:10px;
  padding:8px 14px;
  border-radius:20px;
  border:1px solid #ccc;
}

#buscador{
  width:100%;
  max-width:420px;
  margin:25px auto 40px;
  display:block;
  padding:14px 22px;
  font-size:16px;
  border-radius:35px;
  border:2px solid #ff9800;
  outline:none;
  transition:.3s;
}

#buscador:focus{
  border-color:#ff5722;
  transform:scale(1.03);
}

.autores{
  display:flex;
  justify-content:center;
  gap:30px;
  flex-wrap:wrap;
  margin-top:30px;
}

.autor-card{
  background:white;
  padding:30px 20px;
  border-radius:22px;
  width:260px;
  text-align:center;
  box-shadow:0 8px 20px rgba(0,0,0,.25);
  border-bottom:6px solid #ff9800; 
  transition:.3s ease;
}

.autor-card:hover{
  transform:translateY(-8px);
  box-shadow:0 15px 35px rgba(0,0,0,.35);
}

.autor-card img{
  width:130px;
  height:130px;
  border-radius:50%;
  object-fit:cover;
  border:5px solid #ff9800;
  margin-bottom:15px;
}

.autor-card h4{
  font-size:18px;
  color:#ff5722;
  margin-bottom:8px;
}

.autor-card p{
  font-size:14px;
  line-height:1.5;
  color:#444;
}


.carrito{
  display:none;
  position:fixed;
  right:20px;
  bottom:20px;
  background:white;
  width:260px;
  padding:15px;
  border-radius:18px;
  box-shadow:0 10px 25px rgba(0,0,0,.3);
}

#nombre{
  width:100%;
  margin:10px 0 15px;
  padding:12px 18px;
  border-radius:25px;
  border:1.8px solid #ff9800;
  outline:none;
}

.carrito button{
  width:100%;
  margin-top:15px;
  padding:14px;
  border:none;
  border-radius:30px;
  background:linear-gradient(135deg,#25D366,#1EBE57);
  color:white;
  font-weight:bold;
  cursor:pointer;
  transition:.3s;
}

.carrito button:hover{
  transform:scale(1.08);
}

.volver{
  margin-top:30px;
  padding:12px 34px;
  border:none;
  background:linear-gradient(135deg,#ff9800,#ff5722);
  color:white;
  border-radius:30px;
  cursor:pointer;
  transition:.3s;
}

.volver:hover{
  transform:scale(1.1);
}

@keyframes float{
  0%,100%{transform:translateY(0)}
  50%{transform:translateY(-10px)}
}

@keyframes fade{
  from{opacity:0;transform:translateY(20px)}
  to{opacity:1;transform:translateY(0)}
}

@keyframes aparecer{
  from{opacity:0;transform:translateY(20px)}
  to{opacity:1;transform:translateY(0)}
}

#catalogo h2{
  font-family:'Playfair Display', serif;
  text-transform:uppercase;
  letter-spacing:3px;
  font-size:36px;
  text-align:center;
  color:#ff5722;
  margin-bottom:15px;
}

#sobre h2{
  font-family:'Playfair Display', serif;
  text-transform:uppercase;
  letter-spacing:3px;
  font-size:36px;
  text-align:center;
  color:#ff5722;
  margin-bottom:15px;
}

#autores h2{
  font-family:'Playfair Display', serif;
  text-transform:uppercase;
  letter-spacing:3px;
  font-size:36px;
  text-align:center;
  color:#ff5722;
  margin-bottom:15px;
}

@media(max-width:768px){
  nav{
    display:none;
    flex-direction:column;
    gap:10px;
    position:absolute;
    top:65px;
    right:20px;
    background:white;
    padding:20px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.25);
    animation:menuDown .3s ease;
  }

  nav.show{
    display:flex;
  }

  nav a{
    text-align:center;
    font-size:16px;
  }
}

@keyframes menuDown{
  from{
    opacity:0;
    transform:translateY(-10px);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
}

@media (max-width: 768px){

  #inicio.activo{
    height:auto;              
    min-height:100vh;
    padding:90px 15px 40px;
    background-position:center top;
  }

  .hero-content{
    padding:25px 18px;
    border-radius:20px;
  }

  .hero h1{
    font-size:28px;
    letter-spacing:2px;
  }

  .hero p{
    font-size:15px;
  }

  .btn-catalogo{
    padding:14px 28px;
    font-size:16px;
  }

  .titulo-destacadas{
    font-size:22px;
    margin-top:25px;
  }

  .destacadas{
    gap:15px;
  }

  .fruit-card{
    width:120px;
    padding:14px;
  }

  .fruit-card img{
    width:80px;
    height:80px;
  }

  .fruit-card span{
    font-size:14px;
  }
}

.autor-card{
  opacity:0;
  transform:translateY(30px);
  animation:autorFade .8s ease forwards;
}

.autor-card:nth-child(1){animation-delay:.2s;}
.autor-card:nth-child(2){animation-delay:.4s;}
.autor-card:nth-child(3){animation-delay:.6s;}

@keyframes autorFade{
  to{
    opacity:1;
    transform:translateY(0);
  }
}
.autor-card img{
  animation: flotarAutor 3s ease-in-out infinite;
}

.autor-card:nth-child(1) img{
  animation-delay: 0s;
}

.autor-card:nth-child(2) img{
  animation-delay: 0.8s;
}

.autor-card:nth-child(3) img{
  animation-delay: 1.6s;
}

@keyframes flotarAutor{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(0);
  }
}
.ubicacion{
  display:block;
}